[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=ModbusTool

# A comment which can/will be used as a tooltip
Comment=A tool allowing to work easily with modbus commands on Yoctopuce's Modbus compatible devices.

# The path to the folder in which the executable is run

# The executable of the application, possibly with arguments.
Exec=/usr/bin/ModbusTool

# The name of the icon that will be used to display this entry
Icon=ModbusTool

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=GTK;Utility;